@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Autobus";
  src: url("../public/AutobusOmnibus-K7127.ttf");
}

@font-face {
  font-family: "LiberationSans";
  src: url("../public/LiberationSans-Regular.ttf");
}

@layer utilities {
  .headerLight {
    @apply text-driftwood flex flex-row justify-between px-20 w-full;
  }

  .btn {
    @apply font-bold p-2 mx-4 rounded text-customwhite;
  }

  .btn:hover {
    @apply border-solid border bg-richorange border-customwhite;
  }

  .btn:active {
    @apply bg-customwhite text-richorange;
  }

  .btnClear {
    @apply font-bold p-2 mx-4 rounded;
  }

  .itemHeading {
    @apply flex font-bold text-lg text-left bg-richorange text-customwhite;
  }

  .captionText {
    @apply italic;
  }

  .externalLink {
    @apply text-driftwood cursor-pointer;
  }

  .formDiv {
    @apply flex flex-col justify-center align-middle p-4 h-32;
  }

  .collapseDivOpen {
    @apply collapse collapse-arrow collapse-open;
  }

  .collapseDivClose {
    @apply collapse collapse-arrow collapse-close;
  }
}

@layer component {
  .clockDiv {
    @apply flex flex-col align-middle md:flex-row md:justify-center w-11/12 md:w-4/5 h-max bg-driftwood text-customwhite my-8;
  }

  .newsLabel {
    @apply flex flex-row w-full h-8 bg-customwhite text-richorange text-lg border border-solid border-richorange mb-0.5 py-0.5;
  }

  .newsDiv {
    @apply flex flex-col justify-start w-full bg-richorange text-customwhite;
  }

  .newsContent {
    @apply flex flex-wrap align-middle bg-customwhite text-driftwood p-2 overflow-auto h-64;
  }

  .bookmarksLabel {
    @apply flex flex-row w-full h-8 bg-customwhite text-darkmaroon text-lg border border-solid border-darkmaroon mb-0.5 py-0.5;
  }

  .bookmarksDiv {
    @apply flex flex-col justify-start align-top w-full bg-darkmaroon text-customwhite;
  }

  .footerDiv {
    @apply fixed bottom-0 flex flex-row justify-end align-baseline px-10 pt-2 w-full h-10 bg-driftwood text-customwhite text-lg;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "LiberationSans";
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
