@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Autobus";
  src: url("../public/AutobusOmnibus-K7127.ttf");
}

@font-face {
  font-family: "LiberationSans";
  src: url("../public/LiberationSans-Regular.ttf");
}

@layer utilities {
  .headerLight {
    @apply text-driftwood flex flex-row justify-between px-20 w-full;
  }

  .btn {
    @apply font-bold p-2 mx-4 rounded bg-driftwood;
  }

  .btn:hover {
    @apply text-driftwood bg-richorange;
  }

  .btn:active {
    @apply border-solid border-2 border-driftwood;
  }

  .itemHeading {
    @apply font-bold text-lg;
  }

  .captionText {
    @apply italic;
  }

  .externalLink {
    @apply text-driftwood cursor-pointer;
  }

  .formDiv {
    @apply bg-richorange p-4 h-24;
  }
}

@layer component {
  .clockDiv {
    @apply bg-driftwood text-customwhite my-8;
  }

  .newsLabel {
    @apply flex flex-row w-full h-10 bg-customwhite text-richorange border border-solid border-richorange mb-0.5 py-0.5;
  }

  .newsDiv {
    @apply flex flex-col justify-start w-full bg-richorange text-customwhite;
  }

  .bookmarksLabel {
    @apply flex flex-row w-full h-10 bg-customwhite text-darkmaroon border border-solid border-darkmaroon mb-0.5 py-0.5;
  }

  .bookmarksDiv {
    @apply flex flex-col w-full bg-darkmaroon text-customwhite;
  }

  .footerDiv {
    @apply flex flex-row justify-end px-10 bg-driftwood text-customwhite;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "LiberationSans";
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
